form{
    width:500px;
    height: 75px;
    margin: 0 auto;
    margin-top:75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.247);
}
.in{
    border: none;
    outline: none;
    width:75%;
    height: 40px;
    padding: 10px;
    font-size: larger;
}
.btn1{
    border: none;
    width: 25%;
    height: 40px;  
    background-color: black;
    color: white; 
    font-weight: bold;
    font-size: larger;
}